services:
  web:
    build:
      context: ./web
    volumes:
      - ./web:/home/src/web
      - static_volume:/home/src/web/staticfiles
    command: bash -c "
        python3 manage.py collectstatic --noinput &&
        python3 manage.py makemigrations webcontrol &&
        python3 manage.py makemigrations &&
        python3 manage.py migrate &&
        gunicorn web.wsgi:application --bind 0.0.0.0:8000 --worker-class=gevent"
    restart: "on-failure"
    expose:
      - 8000
    env_file:
      - ./.env
    privileged: true
    depends_on:
      - db
  nginx:
    build:
      context: ./nginx
    volumes:
      - static_volume:/home/src/web/staticfiles
    ports:
      - 80:80
    depends_on:
      - web
    restart: "on-failure"
  # redis:
  #   build: ./redis
  #   command: redis-server redis.conf
  # celery:
  #   restart: always
  #   build: ./web
  #   command: celery --app=web worker -E --loglevel=INFO
  #   privileged: true
  #   volumes:
  #     - ./web:/home/src/web
  #   depends_on:
  #     - web
  #     - redis
  #     - db
  #   env_file:
  #     - ./.env
  db:
    build: ./postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    expose:
      - 5432
    env_file:
      - ./.env
volumes:
  static_volume: {}
  postgres_data: {}
