@import "../css/buttons.css";
@import "../css/table.css";

body {
    background-color: darkgray;
}
.left_column_div {
    position: absolute;
    top: 5%;
    left: 5%;
}

.right_column_div {
    position: absolute;
    top: 5%;
    right: 5%;
}